body{
    overflow-x: hidden;/*this hide the excess items on x axis*/
}

/*head and add*/
.head{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.Nav-Col{
    background-color: rgb(1, 124, 10);
  

    position:relative;
    bottom: 25px;

    z-index: 1;
}

.col-text{
    font-size: 2rem;
}

/*this is the section background*/
.SECTION{
    position: relative;
    bottom: 3.5rem;
}

.bgImage{
    background-image: url(../Images/DeskImage.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 75vh;

    display: flex;
    align-items: center;
}

.Row-Text{
    z-index: 1;
    padding-bottom: 6rem;
}

h1.Section-Text{
    padding-left: 7rem;
    font-size: 7rem;
    color: white;
}

p.Section-Text{
    color: white;
    padding-left: 7rem;
    font-size: 1.5rem;
}
.Section-Button{
    padding-left: 7rem;
}

.color-overlay{
    position: absolute;

    width: 100vw;
    height: 75vh;

    background: rgb(1, 124, 10);
    opacity: 0.5;
}
/*landing footer*/
.FOOT{
    margin-top: -3.5rem;/*this will cater the empty background*/
}


@media screen and (max-width: 768px) {
.head{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}
} 

@media screen and (max-width: 1280px){
    .col-text{
        font-size: 1rem;
    }
}

/*Flexibility of backgorund section exclusive for tablet user and medium pc screen*/
@media screen and (min-width: 768px) {
    h1.Section-Text{
        font-size: 5rem ;
        padding-left: 3rem;
    }    
    p.Section-Text{
        padding-left: 3rem;
    }
    .Section-Button{
        padding-left: 2.9rem;
    }

    .Nav-Col{
        bottom: 33px;
    }
}

@media screen and (max-width: 1280px) {
    h1.Section-Text{
        font-size: 5rem ;
        padding-left: 3rem;
    }    
    p.Section-Text{
        padding-left: 3rem;
    }
    .Section-Button{
        padding-left: 2.9rem;
    }
}

/*Flexibility of backgorund section exclusive for mobile users*/
@media screen and (max-width: 767px) {
    h1.Section-Text{
        font-size: 3rem ;
        padding-left: 1rem;
    }    
    p.Section-Text{
        padding-left: 1rem;
    }
    .Section-Button{
        padding-left: 0.9rem;
    }

    .bgImage{
        height: 80vh;
    }
    .color-overlay{
    height: 80vh;
}
}